<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{superhero_detail.name}}'s Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:#202020">
    <div class="container p-3 my-3 text-white">
        <h1 class="text-center">{{superhero_detail.name}} Detail</h1>
    </div>
        <div class="row-1 p-2 pl-5 my-2 text-white">
                Alter Ego: {{superhero_detail.alter_ego}}
        </div>
        <div class="row-2 p-2 pl-5 my-2 text-white">
                Primary Ability: {{superhero_detail.primary_ability}}
        </div>
        <div class="row-3 p-2 pl-5 my-2 text-white">
                Secondary Ability: {{superhero_detail.secondary_ability}}
        </div>
        <div class="row-4 p-2 pl-5 my-2 text-white">
                Catchphrase: {{superhero_detail.catchphrase}}
        </div>
        <div class="container p-3 my-3 text-white">
            <button type="button" class="btn btn-outline-primary"><a href="{% url 'superheroes:index' %}">Back to Superhero Index</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="{% url 'superheroes:edit' superhero_detail.id %}">Edit Superhero</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="{% url 'superheroes:delete' superhero_detail.id %}">Delete Superhero</a></button>
        </div>
</body>
</html>
